<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>QUnit Example</title>
  <link rel="stylesheet" href="{DRIVER_DIR}assets/css/qunit-1.20.0.css">
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDe.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}crc.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}md4.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}md5.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}aes.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}des.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}rmd.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}sha.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}sha512.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}blowfish.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeB64.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeIP.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src=".{PROJECT_DIR}EnDeTS.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src=".{PROJECT_DIR}EnDeMaps.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeVersion.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeFile.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeText.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeTest.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src=".{PROJECT_DIR}EnDeGUIx.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeUser.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeCheck.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeREMap.js"></script>
	<script language="JavaScript1.3" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeRE.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeREGUI.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}JSReg.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}JsDecoder.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}JsColorizer.js"></script>
	<script language="JavaScript1.5" type="text/javascript" charset="utf-8" src="{PROJECT_DIR}EnDeForm.js"></script>
  <script src="{DRIVER_DIR}assets/js/qunit-1.20.0.js"></script>
  <script type="text/javascript">
	%s
  </script>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
</body>
</html>
